@import "container-grid";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");

@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "utilities";
@import "print";

body {
  background: url(../images/bg-blurr.png);
  background-size: cover;
}

section {
  margin-top: 100px;
}

//header
header {
  width: 100%;
  position: relative;
  margin-bottom: 60px;

  .navbar {
    height: 80px;

    ul.navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: #8743ff;
          }
        }

        a {
          &.nav-link {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 1px;
            color: $white;
            padding-left: 1rem;
            padding-right: 60px;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .btn {
          font-size: 16px;
          background: linear-gradient(90.07deg, #4136f1 0.06%, #8743ff 98.79%);
          border-radius: 4px;
        }
      }
    }
  }
}

//hero
.container.hero {
  .row {
    h1 {
      margin: auto;
      font-weight: 700;
      font-size: 36px;
      line-height: 161%;
      text-align: center;
      color: $white;
    }

    p {
      font-size: 15px;
      font-weight: 300;
      margin: auto;
      text-align: center;
      color: $white;
    }

    .btn {
      margin: auto;
      border-radius: 8px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 30px;
      padding-right: 30px;
      background: linear-gradient(90.07deg, #4136f1 0.06%, #8743ff 98.79%);
      font-weight: 500;

      .img {
        margin-left: 5px;
      }
    }
  }

  .mock {
    height: 650px;

    .left {
      .row {
        padding-top: 40px;
        .emblem {
          height: 60px;
          width: auto;
        }
      }
    }

    .right {
      .row {
        padding-top: 55px;
        .emblem {
          height: 60px;
          width: auto;
        }
      }
    }

    .mockup {
      width: 340px;
    }
  }

  .row.partner {
    margin-top: 100px;
    p {
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 40px;
    }
    .row.logo {
      .logo1 {
        margin-left: 40px;
        margin-right: 50px;
        height: 30px;
        width: 100px;
      }
      .logo2 {
        margin-left: 40px;
        margin-right: 40px;
        height: 40px;
        width: 90px;
      }
    }
  }
}

//advantage
.container.advan {
  margin-top: 200px;
  p {
    font-weight: 300;
    color: $white;
    &.title {
      color: #d479ff;
    }
  }
  h1 {
    font-weight: 600;
    color: $white;
  }

  .container-grid.advan {
    margin-top: 100px;
    text-align: center;
    .title {
      margin-top: 20px;
      color: $white;
    }
    .desc {
      margin-top: 20px;
      font-weight: 300;
    }
  }
}

//banner section
.container.banner {
  margin-top: 200px;
  margin-bottom: 200px;

  .tp {
    margin-bottom: 100px;
    width: 1110px;
    height: 339px;
    border-radius: 13px;
    background: linear-gradient(90.07deg, #4136f1 0.06%, #8743ff 98.79%);

    .lg {
      height: 339px;
    }
    img {
      width: 140px;
    }

    h1 {
      font-size: 37px;
      color: $white;
    }
    p {
      color: $white;
    }
  }
}

//Feature
.container.feature {
  p.kecil {
    color: #d479ff;
  }
  p.desc {
    margin-top: 40px;
    padding-right: 40px;
    color: $white;
    font-weight: 300;
  }
  h1 {
    margin-top: 20px;
    color: $white;
  }
}

//download
div.non-container {
  height: 450px;
  width: auto;
  margin: auto;
  background: linear-gradient(90.07deg, #4136f1 0.06%, #8743ff 98.79%);
  margin-top: 150px;
  margin-bottom: 100px;

  h1 {
    color: $white;
  }

  p {
    margin-top: 20px;
    color: $white;
    font-weight: 300;
  }

  .Button {
    margin-top: 60px;
    background: none;
    border: none;
    padding: 0 0;
  }
}

//footer
footer {
  padding-top: 50px;

  h5 {
    color: $white;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .list-group-item {
    padding: 0.3125rem 0;
    border: 0;
    background: none;

    a,
    span {
      color: $gray-100;
      font-weight: 300;
    }
    a {
      @include hover-focus {
        color: $gray-300;
      }
    }
  }

  .copyrights {
    font-size: 14px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 300;
    color: $gray-100;
  }

  .sosmed {
    margin-top: 100px;
    margin-bottom: 50px;

    .button {
      background: none;
      border: 0;
      margin-left: 15px;
    }
  }
}
